@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-Inter), sans-serif !important;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 1px !important;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #3672bc60 !important;
  border-radius: 50px !important;
}

::-webkit-scrollbar-track {
  background: #3672bc10 !important;
}
